<header class="page-header">
  <h1>About Us</h1>
</header>

<div class="body"> 
  <div class="alert alert-success">
    <h2>Our products</h2>
    <p>Our totally original ideas are definitely not made in China, trust</p>

  </div>
  <div class="alert alert-warning">
    <h2>Our policy</h2>
    <p>No refunds kthnxbye</p>

  </div>
<div>

<div class="well">
  <%= link_to "Back", products_path, class: "btn btn-primary"%>
<div> 